body
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.home
{
    z-index: 0;
    background-image: url("../img/tim-gouw-F2JaS1gt5Q4-unsplash.jpg");
    background-size: auto;
    background-repeat: no-repeat;
}
.rest
{
    z-index: 0;
    background-image: url("../img/yang-shuo-uYHYGgvkz_Y-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.education-table
{
    background-color: white;
    text-align: left;
}
.education-div
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
}
.education-div td   
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.education-div th
{
    background-image: url(../img/439417-light-blue-minimalist-wallpaper-top-free-light-blue-minimalist.png);
    text-align: center;
}
.sites
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-image:  url(../img/tim-gouw-F2JaS1gt5Q4-unsplash.jpg);
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    font-size: 20px;
    backdrop-filter: blur(10px);
    margin-bottom: 15px;
}
.intro
{   
    margin-left: 40px;
}

.link-imgs
{
        margin-left: 100px;
        height: 600px;
        width: 400px;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 25px;
}
.profile
{
        float: right;
        margin-right: 50px;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 150px;
}
.monuments
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 60%;
    background-color: rgb(168, 132, 201);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    font-size: x-large;
    padding: 10px;
    margin-bottom: 15px;
}
.para1
{
    font-size: large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.para1 table
{
    table-layout: auto;
}
#gallery
{
    
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 60%;
    display: block;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 0px;
}
div.foot
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 60%;
    background:linear-gradient(to bottom, #ffffff 0%,   #114263 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding: 10px;
    font-family:'Times New Roman', Times, serif;
    margin-bottom: 15px;
}
.navbar
{
    border-radius: 0;
    position: fixed;
    top:0;border-width:0 0 1px;
    right:0;
    left:0;
}
.fixedtotop
{
    top:0;border-width:0 0 1px;
    position:fixed;
    right:0;
    left:0;
    z-index:1030;
}
.form-table
{
    padding-top: 100px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.form-table th
{
    background-image: url(../img/439417-light-blue-minimalist-wallpaper-top-free-light-blue-minimalist.png);
    text-align: center;
}
#fm-table
{
    background-color: white;
    text-align: left;
}
#fm-table td
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#Contactbox
{
    font-size: 33px;
    text-align: center;
    color:rgb(13, 44, 92);
    margin: auto;
    width: 50%;
    height: 150px;
    padding: 20px;
    background-image: url(../img/tim-gouw-F2JaS1gt5Q4-unsplash.jpg);
    background-size: cover;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.column
{
        background-image: linear-gradient(to bottom, #00ffff 0%, #ffffff 100%);;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 25px;
        border-radius: 15px;
}
.column img
{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.knowme
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
    color:rgb(13, 44, 92);
    background-image: url(../img/tim-gouw-F2JaS1gt5Q4-unsplash.jpg);
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding: 20px;
    font-size: 33px;
    border-radius: 15px;
    margin-bottom: 15px;
}
