body
{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.home
{
    z-index: 0;
    background-image: url("../img/tim-gouw-F2JaS1gt5Q4-unsplash.jpg");
    background-size: auto;
    background-repeat: no-repeat;
}
.rest
{
    background-image: linear-gradient(to right top, #e67373, #de83b7, #b3a1e4, #85bbef, #7fcddf);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
#pika
{
    width: 50px;
    height: 45px;
}
.education-table
{
    background-color: white;
    text-align: left;
}
.education-div
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
}
.education-div td   
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.education-div th
{
    background-image: url(../img/439417-light-blue-minimalist-wallpaper-top-free-light-blue-minimalist.png);
    text-align: center;
}
.sites
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-image:  url(../img/tim-gouw-F2JaS1gt5Q4-unsplash.jpg);
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    font-size: 20px;
    backdrop-filter: blur(10px);
    margin-bottom: 15px;
}

.link-imgs
{
        margin-left: 15%;
        height: 600px;
        width: 68%;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-bottom: 25px;
}
.profile
{
        float: right;
        margin-right: 50px;
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 150px;
}
.monuments
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
    background-image: url(../img/page-bgd.jpg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding: 20px;
    font-size: 25px;
    border-radius: 15px;
    margin-bottom: 15px;
}
.para1
{
    font-size: large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.para1 table
{
    table-layout: auto;
}
#gallery
{
    
    margin-left: auto;
    margin-right: auto;
    height: 40%;
    width: 60%;
    display: block;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 0px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
div.foot
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 60%;
    color: #C0C0C0;
    background-color: rgb(24, 21, 21);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding: 10px;
    font-family:'Times New Roman', Times, serif;
    margin-bottom: 15px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.navbar
{
    border-radius: 0;
    top:0;border-width:0 0 1px;
    right:0;
    left:0;
    width: 100%;
}

.form-table
{
    padding-top: 100px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.form-table th
{
    background-image: url(../img/439417-light-blue-minimalist-wallpaper-top-free-light-blue-minimalist.png);
    text-align: center;
}
#fm-table
{
    background-color: white;
    text-align: left;
}
#fm-table td
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#Contactbox
{
    font-size: 33px;
    text-align: center;
    color:rgb(13, 44, 92);
    margin: auto;
    width: 50%;
    height: 150px;
    padding: 20px;
    background-image: url(../img/tim-gouw-F2JaS1gt5Q4-unsplash.jpg);
    background-size: cover;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.column
{

        background-size: cover;
        margin-bottom: 25px;
        padding: 10px;
}
.column img
{
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.knowme
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
    color:rgb(13, 44, 92);
    background-image: url(../img/tim-gouw-F2JaS1gt5Q4-unsplash.jpg);
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    padding: 20px;
    font-size: 33px;
    border-radius: 15px;
    margin-bottom: 15px;
}
.hourglass
{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 8%;
}
.intro
{
    margin-left: 20px;
}
#navbarid
{
    position: fixed;
}
.zero
{
    width: 500px;
    height: 100px;
    margin: 0 0 5px 20px;
    text-align: center;
    padding-top: 6px;
    font-size: large;
    background: rgb(129, 152, 158);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.one {
    background: #f5724e;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.two {
    background: #87b426;
}
.three {
    background: #2cade9;
}
.four
{
 background: #f8c12a;
}
.move {
    width: 300px;
    height: 50px;
    margin: 0 0 5px 20px;
    text-align: center;
    padding-top: 10px;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
